<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830471147283-9m109pbjabdfsfekaul01k1b0tuvpsp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830471147283-9m109pbjabdfsfekaul01k1b0tuvpsp6</string>
	<key>API_KEY</key>
	<string>AIzaSyCGW8lHPRSXlYLpBE0li5SAM-2oWgxg-nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>830471147283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.questgains.mobile</string>
	<key>PROJECT_ID</key>
	<string>questgains</string>
	<key>STORAGE_BUCKET</key>
	<string>questgains.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830471147283:ios:11412bb78992dc5a1e54e6</string>
</dict>
</plist>